<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
   <div th:fragment="navbar">
        <nav class="navbar navbar-expand-lg">
            <!-- navbar brand -->
            <a href="https://www.kit.edu" class="navbar-brand"
               target="_blank"> <img th:src="@{/images/Logo_KIT.png}"
                                  class="logo"
                                  alt="KIT logo"> </a>
            <a href="https://www.scc.kit.edu" class="navbar-brand"
               target="_blank"> <img th:src="@{/images/Logo_SCC.png}"
                     class="logo" alt="SCC logo"></a>

            <button class="navbar-toggler navbar-toggler-right" type="button"
                    data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="nav-link"><a
                            th:href="@{/dashboard}">Dashboard</a></li>	

                    <li class="nav-link"><a
                            th:href="@{/schema-management}">Schema Management</a></li>	

                    <li class="nav-link"><a
                            th:href="@{/metadata-management}">Metadata Management</a></li>	
                </ul>
            </div>
        </nav>
    </div>
</html>
