<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Metadata Management</title>

    <!--CSS-->
    <link rel="stylesheet" th:href="@{/editor/dependencies/fontawesome/css/all.min.css}" />
    <link rel="stylesheet" th:href="@{/editor/dependencies/tabulator/css/tabulator_bootstrap4.min.css}" />
    <link rel="stylesheet" th:href="@{/editor/dependencies/jsonform/deps/opt/bootstrap-v4.5.2.css}" />
    <link rel="stylesheet" th:href="@{/editor/lib/css/metadataeditor.style.default.css}" />
    <link rel="stylesheet" th:href="@{/css/box.css}" />
    <link rel="stylesheet" th:href="@{/css/navbar.css}" /> 

    <!-- Enable all lines containing keycloak and adapt to your settings
         if necessary. - ->
    <scriptth:src="@{/editor/dependencies/keycloak/keycloak.min.js"></script>
    <!- - End include keycloak script. -->
  </head>

  <body>
      <h1> Landing Page for MetaStore </h1>
       
      <p>Introduction</p>
      <p th:text="${request.information}"/>
      <p>Postfix</p> 
      ---
     MetaStore 
  </body>
</html>
