<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Landingpage for Metadata document</title>


    <!--CSS-->
    <link rel="stylesheet" th:href="@{/editor/dependencies/fontawesome/css/all.min.css}" />
    <link rel="stylesheet" th:href="@{/editor/dependencies/tabulator/css/tabulator_bootstrap4.min.css}" />
    <link rel="stylesheet" th:href="@{/editor/dependencies/jsonform/deps/opt/bootstrap-v4.5.2.css}" />
    <link rel="stylesheet" th:href="@{/editor/lib/css/metadataeditor.style.default.css}" />
    <link rel="stylesheet" th:href="@{/css/box.css}" />
    <link rel="stylesheet" th:href="@{/css/navbar.css}" /> 

    <!-- Enable all lines containing keycloak and adapt to your settings
         if necessary. - ->
    <scriptth:src="@{/editor/dependencies/keycloak/keycloak.min.js"></script>
    <!- - End include keycloak script. -->
    <style>
      table, th, td {
        border: 1px dotted;
      }
      th, td {
        padding: 10px;
      }
    </style>
  </head>

  <body>

    <!-- JS -->
    <script type="text/javascript" th:src="@{/landingpage/js/download.js}"></script>
    <script type="text/javascript" th:src="@{/editor/dependencies/jsonform/deps/jquery-v3.5.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/editor/dependencies/bootstrap/js/bootstrap-v4.5.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/editor/dependencies/jsonform/deps/underscore.js}"></script>
    <script th:src="@{/editor/dependencies/jsonform/deps/ajv/ajv2020.js}"></script>  
    <script th:src="@{/editor/dependencies/jsonform/deps/ajv/ajv2019.js}"></script>  
    <script type="text/javascript" th:src="@{/editor/dependencies/jsonform/lib/jsonform.js}"></script>
    <script type="text/javascript" th:src="@{/editor/dependencies/tabulator/dep/moment.js}"></script>
    <script type="text/javascript" th:src="@{/editor/dependencies/tabulator/js/tabulator.min.js}"></script>
    <script type="text/javascript" th:src="@{/editor/lib/js/metadataeditor.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ajv/8.17.1/ajv7.min.js" 
            integrity="sha512-OIkF2zyWS+sUanhT2i75RexNDQ2EKHayyeOxBx4Z4ct0D+dlPzZPhHTi7xZ5eU7aznNLMX7pCZyZVSi25+EGMQ==" 
            crossorigin="anonymous" 
            referrerpolicy="no-referrer">
    </script>
    <script type="text/javascript">


      //attach handlers
      function downloadMetadata(e, url, type) {
        console.log("start downloading metadata")
        let fileExtension = "json"
        if (type !== "JSON") {
          fileExtension = "xml"
        }
        downloadDocument(url, "metadataDocument." + fileExtension);
      }

      function downloadSchema(e, url, type) {
        let fileExtension = "json"
        if (type !== "JSON") {
          fileExtension = "xsd"
        }
        downloadDocument(url, "schemaDocument." + fileExtension);
      }

      function downloadDocument(id, filename) {
        console.log("Download " + filename + " from " + id)
        let x = new XMLHttpRequest();
        console.log("Create XMLHttpRequest")
        x.open("GET", id, true);
        console.log("Connection opened.")
        console.log("Set request header...")
        x.setRequestHeader("Accept", "application/txt");
        console.log("Set response type...")
        x.responseType = 'text';
        console.log("Set onload...")
        x.onload = function (e) {
          download(x.response, filename, "application/text");
        }
        console.log("Send...")
        x.send();
      }
<!-- add the event to the button identified #my_button -->
    </script>
    <div class="container">
      <!-- navbar -->
      <header>
        <div th:replace="fragments/_navbar :: navbar"></div>
      </header>

      <!-- breadcrumb -->
      <section class="breadcrumb-container">
        <div class="breadcrumb-title">
          Landingpage for Metadata Document(s)
        </div>
      </section>

      <div class="col-12">
        <!-- table-->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h4 class="box-title">Entries</h4>
          </div>
          <div class="box-body">
            <table class="center">
              <th>ID </th><th>Version</th><th>Type</th><th>Last Update</th> <th>Related Resource</th><th>Metadata</th><th>Schema</th>
              <tbody th:each="record : ${records}">
                <tr>
                  <td th:text="${record.id}">...</td>
                  <td th:text="${record.recordVersion}">...</td>
                  <td th:text="${type}">...</td>
                  <td th:text="${record.lastUpdate}">...</td>
                  <td> <a th:href="${record.relatedResource.identifier}" th:text="${record.relatedResource.identifier}"></a></td>
                  <td> 
                    <button 
                      type="button" 
                      th:data-url="${record.metadataDocumentUri}"
                      th:data-type="${type}"
                      onclick="downloadMetadata(event, this.getAttribute('data-url'), this.getAttribute('data-type'))" class="btn label download">
                      <i class="fa fa-download"></i> Metadata Document 
                    </button>
                  </td>
                  <td> 
                    <button 
                      type="button" 
                      th:data-url="${record.schema.identifier}"
                      th:data-type="${type}"
                      onclick="downloadSchema(event, this.getAttribute('data-url'), this.getAttribute('data-type'))" class="btn label download">
                      <i class="fa fa-download"></i> Schema Document 
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
